<launch>
  <arg name="nao_ip" default="$(optenv NAO_IP 10.0.1.230)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
  
  <node pkg="pepper_interface" type="wake_up.py" name="wake_up" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="pepper_interface" type="rest.py" name="rest" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="pepper_interface" type="tablet.py" name="tablet" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="pepper_interface" type="text2speech.py" name="text2speech" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
  <node pkg="pepper_interface" type="pepper_handler.py" name="pepper_handler" required="true" output="screen" />
</launch>